<!doctype html>
<html>
<head>
<title>Socket.io demo</title>
<link rel="stylesheet" type="text/css" href="common.css">
<script type="text/javascript" src="node_modules/socket.io/node_modules/socket.io-client/dist/socket.io.js"></script>
<script type="text/javascript" src="jquery.js"></script>
<script type="text/javascript" src="underscore.js"></script>
<script type="text/javascript" src="common.js"></script>
</head>
<body>
    <div class="results">
        <div class="bar">
            Demo
            <button id="connect">Connect</button>
        </div>
        <div class="hotels"></div>
    </div>


    <!-- templates -->

    <script id="hotel-template" type="application/template">
        <div class="hotel" data-id="<%= id %>">
            <span class="hotel-name"><%= name %></span>
            <span class="hotel-price"><%= price %></span>            
        </div>
    </script>
</body>
</html>
